/* Fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Local Miami font */
@font-face {
  font-family: "Miama";
  src: url("../fonts/Miama.otf") format("woff");
  src: url("../fonts/Miama.otf") format("truetype");
  src: url("../fonts/Miama.otf") format("embedded-opentype");
  src: url("../fonts/Miama.otf") format("svg");
  src: url("../fonts/Miama.otf") format("otf");
  font-weight: normal;
}

/* Variables */
:root {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-miama: "Miama", sans-serif;

  /* Colors */
  --color-primary: rgb(230, 83, 60);
  --color-secondary: rgb(34, 34, 34);
  --color-tertiary: rgb(17, 17, 17);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray: rgba(255, 255, 255, 0.5);

  /* gradient */
  --gradient-primary: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: var(--font-inter);
  background-color: var(--color-secondary);
}

/* Typography */
h1 {
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 7.8rem;
  font-weight: 900;
  line-height: 8rem;
}

h2 {
  font-family: var(--font-inter);
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--color-white);
}

h3 {
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  color: var(--color-gray);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

a,
:active,
:visited {
  color: var(--color-white);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section:not(:first-child) {
  padding: 7rem 0;
}

/* Utility components */
.container {
  max-width: 106rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.4rem;
}

.text-miama {
  font-family: var(--font-miama);
  font-size: 13rem;
  font-weight: 400;
  line-height: 8rem;
  color: var(--color-white);
}

.section-title {
  max-width: 67.1rem;
  margin: 0 auto;
  text-align: center;
}

.section-title h2 {
  margin-bottom: 1.4rem;
}

/* Buttons */
.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 40px 16px 40px;
  border-radius: 4.6rem;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-outline {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

/* Header section */
header {
  background-color: var(--color-tertiary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo a {
  font-size: 3.6rem;
  font-weight: 800;
  font-style: italic;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: var(--color-primary);
}

nav ul {
  display: flex;
  gap: 3.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3.9rem;
  padding: 0.5rem;
}

nav ul li {
  padding: 0.5rem 1rem;
  border-radius: 4.6rem;
  transition: background-color 0.1s ease-in;
}
.active-nav,
nav ul li:hover {
  background-color: var(--color-primary);
}

nav ul li a {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
/*End of Header section */

/* Hero section */
#banner {
  background: var(--gradient-primary);
}

.banner-content {
  max-width: 52rem;
}

.banner-content p {
  margin-top: 2.8rem;
}

.banner-content div {
  display: flex;
  gap: 2rem;
  margin-top: 2.8rem;
}

.banner-image {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.image-workout-videos {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  top: 13rem;
  right: -3rem;
}

.image-workout-videos > span {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  color: var(--color-white);
  letter-spacing: 1px;
}

.image-workout-videos > p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
}

.banner-image div:nth-child(2) {
  width: 349px;
  height: 580px;
}
.image-workout-tutorials {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 2rem;
  left: 0rem;
  bottom: 8rem;

  display: flex;
  gap: 2rem;
  align-items: center;
}

.image-workout-tutorials > span:first-child {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-primary);
}

.image-workout-tutorials p span:first-child {
  display: block;
  color: var(--color-white);
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.4rem;
  letter-spacing: 0.3px;
}
.image-workout-tutorials p span:last-child {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

/*End of Hero section */

/* Habit section */
#habit {
  background-color: var(--color-black);
}

.habit-content {
  margin-top: 5.8rem;
  display: flex;
  justify-content: space-evenly;
}
.habit-card {
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit-card > div {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.habit-card p {
  text-align: center;
}

.habit-extra-mile {
  margin-top: 10rem;
  border-radius: 1.8rem;
  background: rgb(34, 34, 34);
  padding: 4.1rem 5.4rem;

  display: flex;
  justify-content: space-between;
}

.habit-extra-mile > div {
  max-width: 44.4rem;
}

.habit-extra-mile > div h2 {
  line-height: 120%;
  margin-bottom: 1.4rem;
}
.habit-extra-mile > div a {
  margin-top: 2.8rem;
  width: fit-content;
}
.habit-extra-mile > div:last-child {
  width: 36.6rem;
  height: 31.2rem;
  background-image: url("../images/run.jpg");
  background-position: 67% 30%;
  background-size: auto;
  border-radius: 1.8rem;
}
