/* Fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Local Miami font */
@font-face {
  font-family: "Miama";
  src: url("../fonts/Miama.otf") format("woff");
  src: url("../fonts/Miama.otf") format("truetype");
  src: url("../fonts/Miama.otf") format("embedded-opentype");
  src: url("../fonts/Miama.otf") format("svg");
  src: url("../fonts/Miama.otf") format("otf");
  font-weight: normal;
}

/* Variables */
:root {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-miama: "Miama", sans-serif;

  /* Colors */
  --color-primary: #e6533c;
  --color-secondary: #222222;
  --color-tertiary: #121212;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #ffffff80;

  /* gradient */
  --gradient-primary: linear-gradient(180deg, #121212 60%, #77777700 100%);
}

/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: var(--font-inter);
  background-color: var(--color-black);
  color: var(--color-white);
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section:not(:first-child) {
  padding-top: 10rem;
}
/* Typography */
h1 {
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 7.8rem;
  font-weight: 900;
  line-height: 8rem;
}

h2 {
  font-family: var(--font-inter);
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--color-white);
}

h3 {
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  color: var(--color-gray);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

a,
a:active,
a:visited {
  color: var(--color-white);
  text-decoration: none;
}

/* Utility components */
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-miama {
  font-family: var(--font-miama);
  font-size: 13rem;
  font-weight: 400;
  line-height: 8rem;
  color: var(--color-white);
}

/* Mobile menu trigger */
.trigger {
  display: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.trigger span {
  display: block;
  width: 3.5rem;
  border: 1px solid var(--color-white);
}

.section-title {
  max-width: 67.1rem;
}

.title-center {
  margin: 0 auto;
  text-align: center;
}

.section-title h2 {
  margin-bottom: 1.4rem;
}

/* Buttons */
.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 40px 16px 40px;
  border-radius: 4.6rem;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-outline {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

/* Header section */
header {
  background-color: var(--color-tertiary);
  padding: 3.5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo a {
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: var(--color-primary);
}

nav ul {
  display: flex;
  gap: 3.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3.9rem;
  padding: 0.5rem;
}

nav ul li {
  padding: 0.5rem 1rem;
  border-radius: 4.6rem;
  transition: background-color 0.1s ease-in;
}
.active-nav,
nav ul li:hover {
  background-color: var(--color-primary);
}

nav ul li a {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
/*End of Header section */

/* Hero section */
#banner {
  background: var(--gradient-primary);
}

#banner .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.4rem;
}

.banner-content {
  max-width: 52rem;
}

.banner-content p {
  margin-top: 2.8rem;
}

.banner-content div {
  display: flex;
  gap: 2rem;
  margin-top: 2.8rem;
}

.banner-image {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.image-workout-videos {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  top: 13rem;
  right: 0;
}

.image-workout-videos > span {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  color: var(--color-white);
  letter-spacing: 1px;
}

.image-workout-videos > p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
}

.banner-image div:nth-child(2) {
  width: 349px;
  height: 580px;
}
.image-workout-tutorials {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 2rem;
  left: 15%;
  bottom: 15%;

  display: flex;
  gap: 2rem;
  align-items: center;
}

.image-workout-tutorials > span:first-child {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-primary);
}

.image-workout-tutorials p span:first-child {
  display: block;
  color: var(--color-white);
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.4rem;
  letter-spacing: 0.3px;
}
.image-workout-tutorials p span:last-child {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

/*End of Hero section */

/* Habit section */
#habit {
  background-color: var(--color-black);
}

.habit-content {
  margin-top: 5.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: space-evenly;
}
.habit-card {
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit-card > div {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.habit-card p {
  text-align: center;
}

.habit-extra-mile {
  margin-top: 10rem;
  border-radius: 1.8rem;
  background: rgb(34, 34, 34);
  padding: 4.1rem 5.4rem;

  display: flex;
  justify-content: space-between;
}

.habit-extra-mile > div {
  max-width: 44.4rem;
}

.habit-extra-mile > div h2 {
  line-height: 120%;
  margin-bottom: 1.4rem;
}
.habit-extra-mile > div a {
  margin-top: 2.8rem;
  width: fit-content;
}
.habit-extra-mile > div:last-child {
  width: 36.6rem;
  height: 31.2rem;
  background-image: url("../images/run.jpg");
  background-position: 67% 30%;
  background-size: auto;
  border-radius: 1.8rem;
}

/* End of Habit section */

/* Exercises section */
.exercise-images-up {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 25rem 1fr 30rem;
  grid-template-rows: 20rem;
}
.exercise-images-down {
  display: grid;
  grid-template-columns: 1.2fr 30rem 1fr;
  grid-template-rows: 20rem;
}

.exercise-images-up div,
.exercise-images-down div {
  font-size: 1.6rem;
  color: var(--color-white);
  padding: 2rem;

  display: flex;
}

.exercise-images-up div strong,
.exercise-images-down div strong {
  font-weight: 500;
  width: 20rem;
}

.exercise-images-up div:nth-child(1) {
  background: url("../images/exercise1.jpg"),
    linear-gradient(#53dae190, #53dae190);
  color: var(--color-black);
  background-blend-mode: overlay;
  background-size: cover;

  align-items: flex-end;
}
.exercise-images-up div:nth-child(2) {
  background: url("../images/exercise2.png"),
    linear-gradient(#e16f5390, #e16f5390);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}
.exercise-images-up div:nth-child(3) {
  background: url("../images/exercise3.png"),
    linear-gradient(#00000090, #00000090);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

  align-items: flex-end;
}
.exercise-images-down div:nth-child(1) {
  background: url("../images/exercise4.png"),
    linear-gradient(#00000060, #00000060);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

  justify-content: flex-end;
}
.exercise-images-down div:nth-child(2) {
  background: url("../images/exercise5.jpg"),
    linear-gradient(#149a2b90, #149a2b90);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

  align-items: flex-end;
}
.exercise-images-down div:nth-child(3) {
  background: url("../images/exercise6.jpg"),
    linear-gradient(#4490ed90, #4490ed90);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

  align-items: flex-end;
}
/* Enf of exercises section */

/* BMI Calculator section  */
#bmi .section-title {
  margin-left: 18rem;
}

#bmi .wrapper {
  margin-top: 3rem;
  background-color: var(--color-secondary);
  padding: 5rem 0;
}
#bmi .wrapper > .container {
  display: flex;
  justify-content: space-between;
}

.bmi-title h4 {
  font-size: 3rem;
}
.bmi-table > table {
  width: 100%;
}
.bmi-table > table {
  margin-top: 3rem;
}
.bmi-table > table tr th {
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: 600;
  border: 1px solid var(--color-gray);
}
.bmi-table > table tr td {
  padding: 1rem;
  border: 1px solid var(--color-gray);
  font-size: 1.6rem;
}

.bmi-Calculator > .bmi-title {
  max-width: 50rem;
}

.bmi-Calculator form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bmi-Calculator form div {
  display: flex;
  gap: 1rem;
}

.bmi-Calculator form input,
.bmi-Calculator form select,
.bmi-Calculator form label {
  border: none;
  outline: none;
  background-color: rgb(64, 64, 64);
  color: var(--color-white);
  width: 100%;
  padding: 5px 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
}

.bmi-Calculator form input::placeholder {
  color: var(--color-white);
}

.bmi-Calculator form button {
  margin-top: 2rem;
  border: none;
  outline: none;
  width: fit-content;
  cursor: pointer;
}
/*End of BMI Calculator section  */

/* Meet Our Team  section  */
#our-team .wrapper {
  margin-top: 3rem;
  background-color: var(--color-secondary);
  padding: 2rem;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30rem);
  gap: 2rem;
}

#our-team .wrapper div {
  border-radius: 1rem;
  padding: 1rem;
  background-size: cover;
  background-position: top;
  background-blend-mode: darken;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#our-team .wrapper div:nth-child(1) {
  background-image: url("../images/trainer1.png");
}
#our-team .wrapper div:nth-child(2) {
  background-image: url("../images/trainer2.png");
}
#our-team .wrapper div:nth-child(3) {
  background-image: url("../images/trainer3.png");
}
#our-team .wrapper div:nth-child(4) {
  background-image: url("../images/trainer4.png");
}
#our-team .wrapper div:nth-child(5) {
  background-image: url("../images/trainer5.png");
}
#our-team .wrapper div:nth-child(6) {
  background-image: url("../images/trainer6.png");
}
/*End of Meet Our Team  section  */

/*Footer  section  */
#footer {
  margin-top: 10rem;
  background-color: var(--color-secondary);
}
#footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  justify-items: center;
  padding: 5rem 0;
}

#footer .wrapper div h4 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

#footer .wrapper div ul li a {
  font-size: 1.8rem;
  color: var(--color-gray);
}
#footer .wrapper div ul li:not(:first-child) {
  margin-top: 1rem;
}
#footer .copy {
  width: 100%;
  border-top: 0.1px solid var(--color-gray);
  padding: 2rem 0;
}
#footer .copy p {
  text-align: center;
}
/*End of Footer  section  */

/* Meet Our Team  section */
#testimonial .wrapper {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

#testimonial .wrapper div {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#testimonial .wrapper div > div {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  overflow: hidden;
}
#testimonial .wrapper div p {
  text-align: center;
  font-size: 1.6rem;
}

/* End of Meet Our Team  section */

/* Max-width 978px Medium device */
@media screen and (max-width: 978px) {
  #banner .wrapper {
    flex-direction: column;
  }

  /* habit section */
  .habit-content {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .habit-card > div {
    width: 20rem;
    height: 20rem;
  }

  .habit-extra-mile {
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .habit-extra-mile > div {
    max-width: 30.4rem;
  }

  .habit-extra-mile > div:last-child {
    max-width: 25rem;
  }

  /* Exercises section */
  .exercise-images-up {
    grid-template-columns: 20rem 1fr 20rem;
  }
  .exercise-images-down {
    grid-template-columns: 1fr 20rem 1fr;
  }

  .exercise-images-down div:nth-child(1) {
    justify-content: flex-start;
    align-items: flex-end;
  }

  /* BMI Calculator section  */
  #bmi .section-title {
    margin-left: 0;
  }

  #bmi .wrapper > .container {
    flex-direction: column;
    gap: 6rem;
  }

  /* Footer section  */
  #footer .wrapper {
    justify-items: start;
    gap: 5rem;
  }
  #footer .wrapper div:first-child {
    grid-column: 1 / span 3;
    max-width: 50rem;
  }
}

/* Max-width 576px Medium device */
@media screen and (max-width: 576px) {
  html {
    font-size: 42.5%;
  }

  h1 {
    font-size: 6.8rem;
  }
  h2 {
    font-size: 3.8rem;
  }

  .trigger {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn {
    padding: 10px 20px;
  }

  .menu {
    display: none;
  }

  /* banner section */
  .banner-content {
    max-width: 100%;
  }

  .banner-image div:nth-child(2) {
    width: 100%;
  }

  .image-workout-tutorials {
    left: 0%;
  }

  /* habit section */
  .habit-content {
    grid-template-columns: 1fr;
  }

  .habit-extra-mile {
    flex-direction: column;
    align-items: center;
  }

  .habit-extra-mile > div {
    max-width: 100%;
  }

  .habit-extra-mile > div a {
    max-width: 100%;
    width: 100%;
  }

  .habit-extra-mile > div:last-child {
    max-width: 100%;
    width: 100%;
  }

  /* Exercises section */
  .exercise-images-up,
  .exercise-images-down {
    grid-template-columns: 50% 50%;
  }

  .exercise-images-up div:nth-child(3),
  .exercise-images-down div:nth-child(3) {
    display: none;
  }

  .bmi-Calculator form div {
    flex-direction: column;
  }

  /* Meet Our Team  section */
  #our-team .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 30rem);
  }

  /* Footer section */
  #footer .wrapper {
    grid-template-columns: 1fr;
  }

  #footer .wrapper div:first-child {
    grid-column: 1;
  }
}
